---
import Card_h from "../componets/Card_h.astro";
import Card_v from "../componets/Card_v.astro";

const magicFriends1 = [
  {
    name: "Henny Solskin",
    description:
      "Henny Solskin er en ægte solstråle. Med hendes mange farver, dyr og bamser spreder hun glæde på Herning.",
    image: "./public/img/henny_solskin.webp",
    alt: "Henny",
  },
  {
    name: "Rasmus Fup & Fidus",
    description:
      "Rasmus Fup og Fidus fra AUH tryller på de forskellige børneafdelinger på Aarhus og Familiehuset.",
    image: "./public/img/Rasmus.webp",
    alt: "Rasmus",
  },
  {
    name: "Helle",
    description: "Danmarksmester i børnetryl.",
    image: "./public/img/helle.webp",
    alt: "Helle",
  },
  {
    name: "Fabelagtige Falbe",
    description:
      "Rasmus Fup og Fidus fra AUH tryller på de forskellige børneafdelinger på Aarhus og Familiehuset.",
    image: "./public/img/falbe.webp",
    alt: "Falbe",
  },
];

const magicFriends2 = [
  {
    name: "Birger",
    description:
      "Birger tryller for KidsAid i Viborg og Odense. Han har optrådt for både store og små i over 20 år.",
    image: "./public/img/birger.webp",
    alt: "Birger",
  },
  {
    name: "Trylle Michael",
    description:
      "Tryller på Riget. En ægte magiker, der også får de voksne til at forbløffes.",
    image: "./public/img/Michael.webp",
    alt: "Michael",
  },
  {
    name: "Lasse NK",
    description:
      "Lasse er på Herlev og Hvidovre og Gram Slot. Han er en mester til balloner og har en populær Segway.",
    image: "./public/img/Lasse.webp",
    alt: "Lasse",
  },
];

const allFriends = [
  { type: "h", ...magicFriends1[0] }, // Henny
  { type: "v", ...magicFriends2[0] }, // Birger
  { type: "h", ...magicFriends1[1] }, // Rasmus
  { type: "v", ...magicFriends2[1] }, // Michael
  { type: "h", ...magicFriends1[2] }, // Helle
  { type: "v", ...magicFriends2[2] }, // Lasse
  { type: "h", ...magicFriends1[3] }, // Falbe
];
---

<main class="magiven_main">
  <h1>Mød dine magi-venner fra KidsAid</h1>

  {
    allFriends.map((friend) =>
      friend.type === "h" ? (
        <Card_h
          name={friend.name}
          description={friend.description}
          image={friend.image}
          alt={friend.alt}
        />
      ) : (
        <Card_v
          name={friend.name}
          description={friend.description}
          image={friend.image}
          alt={friend.alt}
        />
      )
    )
  }
</main>

<style>
  .magiven_main {
    background-image: url("./public/img/star_background.webp");
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 600vh;
    padding: 2rem;
    padding-top: 5rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: #fffbef;
    font-size: 35px;
    font-family: kavoon;
    text-align: center;
    margin-top: 5rem;
    color: #F4BA35;
  }
</style>
